# Permite reescribir las peticiones de URL
RewriteEngine On

# Si el archivo y la carpeta no existen hacer siguiente reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecciona todas las peticiones a index
RewriteRule ^ index.php [QSA,L]

# Si tiene desactivado el open tag lo activamos
php_flag short_open_tag 1
# php_flag short_open_tag = On