/* CSS to save the code i might or might not use */

/* animacion para los logos  */
@keyframes taadaa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.appear {
  animation: taadaa 3s;
}
/* ------------------------------------
    BUTTON ANIMATED
--------------------------------------- */
button {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background-color: transparent;
  gap: 0.65rem;
}
button > div {
  background: black;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}
button:hover div:first-child {
  transform: rotate(45deg);
}
button:hover div:nth-child(2) {
  opacity: 0;
}
button:hover div:last-child {
  transform: rotate(-45deg);
}

/* .left{
    background-image: url(../imgs/icons/left_arrow.png);
}
.right{
    background-image: url(app\assets\imgs\icons\right_arrow.png);
} */
